.ui-header {

}

.ui-btn-right {
	
}

#photoBtn {
	position:fixed;
	bottom:5px;
	left:5px;
}
.ui-content {
    background: #95A5A6;
}
.image-feed {
    margin: -15px;
}
.image-feed img {
    width: 100%;
    display: block;
}

@media screen and (min-width: 1024px) {
    .image-feed img {
        width: 100%;
        max-width: 1024px;
        position: relative;
        margin: 0  auto;
    }
}
