{% extends "base.html" %}

{% block title %}
Blast
{% endblock %}

{% block header %}
<a href="upload" id="photo-btn" data-role="button" data-theme="b" data-iconpos="notext" data-icon="flat-camera"></a>
<h1>
    BLAST</h1>
<a href="#" id="refresh-btn" data-role="button" data-theme="b" data-iconpos="notext" data-icon="flat-refresh"></a>
{% endblock %}

{% block content %}
    <div id=OS style=display:hidden>{{ os }}</div>
    <div class="image-feed">
    {% for picture in picture_list %}    
        <img src="{{ picture.get_absolute_url }}">
    {% endfor %}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
