<!doctype html>
<html>
<head>
    <title>{% block title %} Memeblast {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.mobile-1.3.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.mobile.flatui.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.mobile.iscrollview.css">
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.mobile.iscrollview-pull.css">
    <link rel="stylesheet" type="text/css" href="/static/css/feed.css">

</head>
<body>
    <div id=OS style=display:hidden>{{ os }}</div>
    <div data-role="page">
        <div data-role="header" data-position="fixed">
            {% block header %}
            {% endblock %}
        </div>

        <div data-role="content" data-iscroll>
            {% block content %}
            {% endblock %}
        </div>
        {% block footer %}
        {% endblock %}
    </div>

    <script type="text/javascript" src="/static/js/{{cordova_js_file}}"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
    <script type="text/javascript" src="/static/js/iscroll.js"></script>
    <script type="text/javascript" src="/static/js/jquery.mobile.iscrollview-closure-min.js"></script>
    <script type="text/javascript">
    app.initialize();
    </script>
</body>
</html>
